*{
    margin: 0 !important;
    padding: 0 !important;
    /* overflow-x: hidden; */
}
 body{
  font-size: 2rem;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
.hero-1{
  background-image:url(./ima/hero_iphone_.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
}
.gradient p{
  background: linear-gradient(to right, blue ,violet ,orangered);
  -webkit-background-clip: text  !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block !important;
  color: transparent !important;
  font-weight: bold;
}
.hero-2{
  background-image:url(./ima/hero_bts_2025__kjxalx8t7ia2_small_2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
}
.bub{
  border-radius: 20%;
  font-size: 3rem;
  /* padding: 25px 30px !important; */
}
#img-1{
  z-index: 1;
}
#img-2{
  top: 68px !important;
}
.hero-3{
  background-image: url(./ima/promo_macbook_air_avail__e8ksaudoisey_small_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-4{
  background-image: url(./ima/promo_ipadpro_avail__s271j89g8kii_small_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#grd{
  bottom: 6% !important;
}
.hero-5{
  background-image: url(./ima/promo_ipad_air__bfbxzvw65c02_large_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-6{
  background-image: url(./ima/promo_apple_watch_series_10_avail_lte__c70y29goir42_medium_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-6 li{
  list-style: none;
  right: 15%;
  top:5.5%;
  font-size: 2.3rem;
}
.hero-7{
  background-image: url(./ima/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-7 li{
  list-style: none;
  right: 14%;
  top:6.5%;
  font-size: 2.3rem;
}
.hero-8{
  background-image: url(./ima/promo_apple_card__5cm7draujpey_medium_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-8 li{
  list-style: none;
  right: 9.5%;
  top:6.5%;
  font-size: 2.3rem;
}
.hero-apple{
  background-image: url(./ima/hero_apple_event_september__c2amjfe3dcqe_medium_2x.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

 

