*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #00ff00;
    overflow-x: hidden;
}
.header{
    background-color: #000;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 5px #273027;
}
.box{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
img{
    width: 400px;
    height: 300px;
    margin: 10px 20px;
    border-radius: 10px;
}
