*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    height: 100vh;
    margin: 25px auto;
    display: flex;
    gap: 20px;
}
body{
    background-color: grey;
}
.card{
    width: 400px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left{
   align-self: start;
}
.center{
    align-self: center;
    text-align: center;
}
.right{
    align-self: flex-end;
    transform: rotate(180deg);
}
