

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: "Times New Roman", Times, serif;
     font-weight: bold;
      text-align: center;
     background: #fff;
     line-height: 1.5;
  
    
}

   
.header {
    background: blue;
     color:#fff;
    padding: 12px;
  font-size: 1.3rem;
    font-weight: bold;
    border: black 0.1px solid ;
}
  
.banner img {
    width: 100%;
    height: auto;
    
}


.fruits {
    display: flex;
    align-items: center;
    flex-direction:column ;
    text-align: center;
   gap: 15px;
    margin: 20px 0;

     
}


.fruits img {
    width: 80%; 
    max-width: 200px;
}


.more-fruits {
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
    margin: 25px 0 10px;
}


.footer {
    background: blue;
     color: white;
     padding: 15px;
    font-size: 0.9rem;
    
      margin-top: 30px; 
}


@media (min-width: 668px) {
    .header {
        font-size: 1.5rem;
        padding: 20px;
    }

    .fruits {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .fruits img {
        width: 120px;
    }

    .more-fruits {
        font-size: 1.4rem;
    }

    .footer {
        font-size: 1rem;
        padding: 20px;
    }
}


@media (min-width: 1024px) {
    .header {
        font-size: 2rem;
        padding: 25px;
    }

    .fruits img {
        width: 150px;
    }

    .more-fruits {
        font-size: 1.8rem;
    }

    .footer {
        font-size: 1.2rem;
        padding: 20px;
    }
} 