*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#markdown-input, #html-output, #preview{
border: 3px solid #21288a;
width: 100%;
min-height: 200px;
max-width: 100%;
}
#heading{
    text-align: center;
    color: blue;
}
#html-output,#preview{
    white-space: pre-wrap;
    max-width: 100%;
    word-wrap: break-word;
} 
#container > div{
    margin-bottom: 20px;
}
@media (min-width:600px) {
    #container{
        display: flex;
        gap: 20px;
    }
    #container > div{
        flex: 1;
        margin-bottom: 0;
    }
    #markdown-input, #html-output, #preview{
        height: 200px;
    }
    
}